<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
     
    
    <div class="wb_boxnr">
        <div class="wb_boximg">
            <span class="head">
                <img onerror="this.src='img/userdefault.jpg'" src="" /></span>
        </div>
        <div class="wb_boxusernr">
            <div class="wb_usertit">
                <a class="aname" href="javascript:void(null);" target="_blank"><b>新浪视频：</b></a>
                实拍美国货机坠毁瞬间爆炸成火球】一架美国波音747货运飞机29日从阿富汗巴格拉姆空军基地起飞后不久即坠毁，机上7名机组人员全部遇难。飞机坠毁画面正巧被一辆路过车辆的行车记录器拍下。视频相当震撼，飞机正处于爬升阶段，突然失去动力，庞大的747几乎垂直砸向地面。http://t.cn/zTOTscF
                
                <img src="http://123.103.15.153:8388/video/20135402015405.jpg" />
                
                <div class="new_top10">
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{微博链接}" target="_blank"><b>2013/5/2 13:24:45</b></a> 来源：新浪视频
                                </td>
                                <td>
                                    <span><a href="{转发链接}" target="_blank">转发</a>（<b class="color_2"></b>）</span>|<span><a
                                        href="{评论链接}" target="_blank">评论</a>（<b class="color_2"></b>）</span>
                                        </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    
         
    
    <div class="wb_boxnr">
        <div class="wb_boximg">
            <span class="head">
                <img onerror="this.src='img/userdefault.jpg'" src="http://oimageb1.ydstatic.com/image?w=48&h=48&url=http%3A%2F%2Fmimg.126.net%2Fp%2Fbutter%2F1008031648%2Fimg%2Fface_big.gif" /></span>
        </div>
        <div class="wb_boxusernr">
            <div class="wb_usertit">
                <a class="aname" href="javascript:void(null);" target="_blank"><b>百度新闻2：</b></a>
                【美媒：中国太敏感 美在澳驻军避谈针对中国 】 美国《星条旗报》7月15日报道，目前驻扎在澳大利亚达尔文市的美国海军陆战队利用空旷地带演练战斗任务，模拟灾害应急预案，并同澳军分享经验心得，提升盟友间默契度。有官员指出，美军此次军事部署虽不是为了“包围中国”，但自美方出台... http://163.fm/WJCbgTF
                
                
                <div class="new_top10">
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{微博链接}" target="_blank"><b>2013/7/19 13:52:49</b></a> 来源：网易
                                </td>
                                <td>
                                    <span><a href="{转发链接}" target="_blank">转发</a>（<b class="color_2"></b>）</span>|<span><a
                                        href="{评论链接}" target="_blank">评论</a>（<b class="color_2"></b>）</span>
                                        </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    
         
    
    <div class="wb_boxnr">
        <div class="wb_boximg">
            <span class="head">
                <img onerror="this.src='img/userdefault.jpg'" src="http://tp2.sinaimg.cn/2079984833/50/5631967014/1" /></span>
        </div>
        <div class="wb_boxusernr">
            <div class="wb_usertit">
                <a class="aname" href="javascript:void(null);" target="_blank"><b>胡燕来：</b></a>
                【咨询实录2601】劳动者依法享有哪些职业卫生保护权利? 根据最新修订的《职业病防治法》第四十条的规定，劳动者享有下列职业卫生保护权利： 1、获得职业卫生教育、培训； 2、获得职业健康检查、职业病诊疗、康复等职业病防治服务； 3、了解工作场所产生或者可能产生的(较<font color=red>长</font>http://t.cn/zQ82U1J )
                
                
                <div class="new_top10">
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{微博链接}" target="_blank"><b>2013-08-13 10:45:00</b></a> 来源：新浪微博
                                </td>
                                <td>
                                    <span><a href="{转发链接}" target="_blank">转发</a>（<b class="color_2">0</b>）</span>|<span><a
                                        href="{评论链接}" target="_blank">评论</a>（<b class="color_2">0</b>）</span>
                                        </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    
         
    
    <div class="wb_boxnr">
        <div class="wb_boximg">
            <span class="head">
                <img onerror="this.src='img/userdefault.jpg'" src="http://oimageb3.ydstatic.com/image?w=48&h=48&url=http%3A%2F%2F126.fm%2F1lRvnB" /></span>
        </div>
        <div class="wb_boxusernr">
            <div class="wb_usertit">
                <a class="aname" href="javascript:void(null);" target="_blank"><b>和讯新飞狐：</b></a>
                【用事故教训推动加强矿山事故应急救援工作会议在京召开】8月7日，用事故教训推动加强矿山事故应急救援工作会议在京召开。8月7日，用事故教训推动加强矿山事故应急救援工作会议在京召开。国家安全监管总局副局长、国家安全生产应急救援指挥中心主任<font color=red>王德学</font>和国家煤矿<font color=red>安监</font>... http://163.fm/PomFNMB
                
                
                <div class="new_top10">
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{微博链接}" target="_blank"><b>2013-08-08 12:51:13</b></a> 来源：网易微博
                                </td>
                                <td>
                                    <span><a href="{转发链接}" target="_blank">转发</a>（<b class="color_2">0</b>）</span>|<span><a
                                        href="{评论链接}" target="_blank">评论</a>（<b class="color_2">0</b>）</span>
                                        </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    
         
    
    <div class="wb_boxnr">
        <div class="wb_boximg">
            <span class="head">
                <img onerror="this.src='img/userdefault.jpg'" src="http://oimageb1.ydstatic.com/image?w=48&h=48&url=http%3A%2F%2Fmimg.126.net%2Fp%2Fbutter%2F1008031648%2Fimg%2Fface_big.gif" /></span>
        </div>
        <div class="wb_boxusernr">
            <div class="wb_usertit">
                <a class="aname" href="javascript:void(null);" target="_blank"><b>百度新闻2：</b></a>
                【美媒：中国太敏感 美在澳驻军避谈针对中国 】 美国《星条旗报》7月15日报道，目前驻扎在澳大利亚达尔文市的美国海军陆战队利用空旷地带演练战斗任务，模拟灾害应急预案，并同澳军分享经验心得，提升盟友间默契度。有官员指出，美军此次军事部署虽不是为了“包围中国”，但自美方出台... http://163.fm/WJCbgTF
                
                
                <div class="new_top10">
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{微博链接}" target="_blank"><b>2013/7/19 11:14:38</b></a> 来源：网易
                                </td>
                                <td>
                                    <span><a href="{转发链接}" target="_blank">转发</a>（<b class="color_2"></b>）</span>|<span><a
                                        href="{评论链接}" target="_blank">评论</a>（<b class="color_2"></b>）</span>
                                        </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    
         
    
    <div class="wb_boxnr">
        <div class="wb_boximg">
            <span class="head">
                <img onerror="this.src='img/userdefault.jpg'" src="http://tp3.sinaimg.cn/3242817930/50/40021573508/1" /></span>
        </div>
        <div class="wb_boxusernr">
            <div class="wb_usertit">
                <a class="aname" href="javascript:void(null);" target="_blank"><b>成华安监：</b></a>
                #危险化学品知识#【易燃固体】指燃点低，对热、撞击、摩擦敏感、易被外部火源点燃，燃烧迅速，并可能发出有毒烟雾或有毒气体的固体。如红磷、硫磺等。
                
                <img src="http://ww2.sinaimg.cn/thumbnail/c149798ajw1e6ju7fcx1cj20go0b40tt.jpg" />
                
                <div class="new_top10">
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{微博链接}" target="_blank"><b>2013/7/12 10:41:21</b></a> 来源：新浪
                                </td>
                                <td>
                                    <span><a href="{转发链接}" target="_blank">转发</a>（<b class="color_2"></b>）</span>|<span><a
                                        href="{评论链接}" target="_blank">评论</a>（<b class="color_2"></b>）</span>
                                        </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    
         
    
    <div class="wb_boxnr">
        <div class="wb_boximg">
            <span class="head">
                <img onerror="this.src='img/userdefault.jpg'" src="http://tp2.sinaimg.cn/2280723025/50/5662047730/1" /></span>
        </div>
        <div class="wb_boxusernr">
            <div class="wb_usertit">
                <a class="aname" href="javascript:void(null);" target="_blank"><b>912太原新闻广播：</b></a>
                #912微新闻#【江西遂川电站工地发生塌方事故 已造成4死2伤】记者从江西省遂川县政府获悉，今天凌晨2点左右，遂川县大坑乡的高倚四级电站在隧洞施工支护过程中，出现塌方事故；经现场初步勘察，事故造成4人死亡、2人受伤；具体情况正在调查之中。http://t.cn/zQ8ywF4
                
                
                <div class="new_top10">
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{微博链接}" target="_blank"><b>2013-08-13 11:35:03</b></a> 来源：新浪微博
                                </td>
                                <td>
                                    <span><a href="{转发链接}" target="_blank">转发</a>（<b class="color_2">0</b>）</span>|<span><a
                                        href="{评论链接}" target="_blank">评论</a>（<b class="color_2">0</b>）</span>
                                        </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    
         
    
    <img src="" />
    
        
</body>
</html>
